<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
<p>Hello,</p>

<p>Your chefs plan for <%= company.name %> &nbsp;has been now expired.</p>

<p>Please contact <%= company.name %> for renewal of your Chef plans and enjoy benefits of adding recipes at <%= company.name %>.</p>

<p>Sincerely,</p>

<p>The&nbsp;<%= company.name %>&nbsp; Services Team.</p>

<p>Contact mail :&nbsp;<a href="mailto:<%= company.email %>?subject=Regarding%20renewal%20of%20chef%20plans" name="<%= company.name %> Mail"><%= company.email %></a></p>

<p>Website: &nbsp;<a href="<%= company.website %>" name="<%= company.name %>"><%= company.name %></a></p>

<p>&nbsp;</p>
</body>

</html>