<html>

<head>
    <title>
        <%= title%>
    </title>
</head>

<body>
    <p><strong>Welcome to </strong><strong><%= title%>.</strong></p>

    <p>Hi ,</p>
    <p>
        <%= subject%>
    </p>

    <p>Sincerely,</p>

    <p>The&nbsp;Gruberr&nbsp; Services Team.</p>
    <p>Website: &nbsp;<a href="<%= website %>" name="Gruberr"><%= Gruberr %></a></p>

</body>

</html>
