<html>

<head>
    <title>
        <%= title%>
    </title>
</head>

<body>

    <p style="text-align:center"><strong><%= title%></strong></p>

    <p style="text-align:center">&nbsp;</p>

    <p><strong>Gruberr OrderId:</strong><%- order.id %></p>

    <p><strong>Customer Name:</strong> <%= order.customer.firstName %> <%= order.customer.lastName %></p>

    <p><strong>Customer Contact:</strong> <%= order.phoneNumber %></p>

    <p><strong>Customer Address:</strong> <%= order.customerAddress %></p>

    <p><strong>Customer Pincode: </strong><%= order.customerPincode %></p>

    <p>&nbsp;</p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
    	<tbody>
    		<tr>
                <td style="text-align: center;"><strong>Ingredient Name</strong>
                <td style="text-align: center;"><strong>Quantity Unit</strong></td>
                <td style="text-align: center;"><strong>Unit</strong></td>
                <td style="text-align: center;"> <strong>Price</strong></td>
    		</tr>
            <% orderDetails.forEach(function(orderDetail){ %>
                <tr>
        			<td style="text-align: center;"><%= orderDetail.recipeIngredients.ingredients().name %></td>
                    <td style="text-align: center;"><%= orderDetail.requiredQuantity %></td>
                    <td style="text-align: center;"><%= orderDetail.recipeIngredients.ingredients().minimumQuantity %> <%= orderDetail.recipeIngredients.ingredients().sellingMetrics %></td>
        			<td style="text-align: center;"><%= orderDetail.recipeIngredients.ingredients().price %></td>
        		</tr>
            <% }) %>
    	</tbody>
    </table>

    <p>&nbsp;</p>

    <p>Designed and maintained by <a href="http://www.snaphy.com">snaphy</a></p>
</body>

</html>
